<p class="bg-danger fs-1">binding works!</p>
<img [src]="imgurl" alt="">
<button (click)="Hello()" class="btn btn-danger"> Delete</button>

<input type="text" value=""  (click)="Helloo($event)" >
<h1 [style.color]="productPrice>500?'red':'green'">Hey</h1>
<h2 [class.bg-danger]="productPrice==100">Hey2</h2>
<h1 [style]="productPrice<100?mainStyle:SecondStyle">Hey3</h1>


<!-- *ngIf -->
<ng-template #maybe>
    <h1>Mayar Hidden</h1>
   </ng-template>
 <div *ngIf="productPrice>110 ; else maybe">
    <h1>hey</h1>
 </div>
<!-- Two wAay Data Binding [(ngModel)]="Name"(Bannana in box)  -->
  <app-slider [slider]="task"></app-slider>
 <input [(ngModel)]='task'  type="text" class="" name="" id="" >

 <!-- Data Flow From Child To Parent -->
  <app-slider (sliderTask)="task = $event"></app-slider>
 <!-- *ngfor -->
 <ul>
    <li *ngFor="let Friend of Friendes">Mayarr</li>
 </ul>
 <table class="table my-2 mx-3">
    <thead>
        <th>index</th>
        <th>name</th>
        <th>age</th>
        <th>gender</th>
    </thead>
    <tbody>
      
        <tr *ngFor="let user of Users; let i =index; let isEven = even;"
        [style.backgroundColor]="isEven ? '#09c' : ''">
            <td>
                {{i}}
            </td>
            <td>
                {{user.namee}}
            </td>
            <td>
                {{user.age}}
            </td>
            <td>
                {{user.gender}}
            </td>
        </tr>
    </tbody>
 </table>
 <!-- ngSwitch -->
 <div [ngSwitch]="CheckAge>=18">
 <h1 *ngSwitchCase="true">
     Welcome
 </h1>
 <h2 *ngSwitchCase="false">
     You Are To Young
 </h2>
 <p *ngSwitchDefault>
     No
 </p>
 </div>
 <!-- ngclass -->
  <div class="container py-5 my-5">
     <h1 [ngClass]="
     {'text-center bg-danger':productPrice<100,  'bg-warning':nAmE=='mayar'
     }" >Binding H11</h1>
  </div>
  <!-- ngStyle -->
  <div class="container py-5 my-5">
    <h1 [ngStyle]="
    {'color':productPrice<100? 'red': 'pink',
    'margin.px':nAmE=='mayar'?'100':'29'
    }" >Binding H11</h1>
 </div>
 <!-- try Neasted Routing -->
 <div class="row bg-danger mb-5" >
    <div class="col-md-5">
    <ul>
        <li>
            <a routerLink="/binding/web"> Web</a>
        </li>
        <li>
            <a routerLink="/binding/mobile"> mobile</a>
        </li>
    </ul>
    </div>
    <div class="col-md-5">
        <router-outlet></router-outlet>
    </div>
  </div>