<section
  class="introOfProject"
  style="background-image: url(../../assets/img/Placeholderimg.png)"
>
  <div class="parentt position-relative">
    <div class="content w-25">
      <h1 class="header">
        <strong>
          Listen to the <span style="color: blue">amazing</span> music
          sound</strong
        >
      </h1>
      <p>Experience music like never before</p>
      <button
        type="button "
        style="color: aliceblue"
        class="btn bg-black form-control w-50 p-3"
      >
        Shoping Now
      </button>
    </div>
  </div>
</section>
<section class="row logoContainer">
  <div
    class="col-md-2 logoimg"
    style="background-image: url(../../assets/logo/logo\ 01.png)"
  ></div>
  <div
    class="col-md-2 logoimg"
    style="background-image: url(../../assets/logo/logo\ 02.png)"
  ></div>
  <div
    class="col-md-2 logoimg"
    style="background-image: url(../../assets/logo/logo\ 03.png)"
  ></div>
  <div
    class="col-md-2 logoimg"
    style="background-image: url(../../assets/logo/logo\ 04.png)"
  ></div>
  <div
    class="col-md-2 logoimg"
    style="background-image: url(../../assets/logo/logo\ 05.png)"
  ></div>
  <div
    class="col-md-2 logoimg"
    style="background-image: url(../../assets/logo/logo\ 6.png)"
  ></div>
</section>
<div class="container NewArrivals">
  <h1 class="w-100 fs-1 fw-bolder text-center">New Arrivals</h1>
  <div class="row">
    <div class="col-md-2 containerofcard">
      <img src="../../assets/img/headPhonee1.png" class="imgCard" alt="" />
      <div class="contant-card">
        <p>Skullcandy - Crusher anc 2 wireless headphones</p>
        <p>★★★★★</p>
        <p>$299.99</p>
      </div>
      <button class="btn bg-light Newbtn">new</button>
    </div>
    <div class="col-md-2 containerofcard">
      <img src="../../assets/img/headPhonee1.png" class="imgCard" alt="" />
      <div class="contant-card">
        <p>Skullcandy - Crusher anc 2 wireless headphones</p>
        <p>★★★★★</p>
        <p>$299.99</p>
      </div>
      <button class="btn bg-light Newbtn">new</button>
    </div>
    <div class="col-md-2 containerofcard">
      <img src="../../assets/img/headPhonee1.png" class="imgCard" alt="" />
      <div class="contant-card">
        <p>Skullcandy - Crusher anc 2 wireless headphones</p>
        <p>★★★★★</p>
        <p>$299.99</p>
      </div>
      <button class="btn bg-light Newbtn">new</button>
    </div>
    <div class="col-md-2 containerofcard">
      <img src="../../assets/img/headPhonee1.png" class="imgCard" alt="" />
      <div class="contant-card">
        <p>Skullcandy - Crusher anc 2 wireless headphones</p>
        <p>★★★★★</p>
        <p>$299.99</p>
      </div>
      <button class="btn bg-light Newbtn">new</button>
    </div>
    <div class="col-md-2 containerofcard">
      <img src="../../assets/img/headPhonee1.png" class="imgCard" alt="" />
      <div class="contant-card">
        <p>Skullcandy - Crusher anc 2 wireless headphones</p>
        <p>★★★★★</p>
        <p>$299.99</p>
      </div>
      <button class="btn bg-light Newbtn">new</button>
    </div>
    <div class="col-md-2 containerofcard">
      <img src="../../assets/img/headPhonee1.png" class="imgCard" alt="" />
      <div class="contant-card">
        <p>Skullcandy - Crusher anc 2 wireless headphones</p>
        <p>★★★★★</p>
        <p>$299.99</p>
      </div>
      <button class="btn bg-light Newbtn">new</button>
    </div>
    <div class="col-md-2 containerofcard">
      <img src="../../assets/img/headPhonee1.png" class="imgCard" alt="" />
      <div class="contant-card">
        <p>Skullcandy - Crusher anc 2 wireless headphones</p>
        <p>★★★★★</p>
        <p>$299.99</p>
      </div>
      <button class="btn bg-light Newbtn">new</button>
    </div>
    <div class="col-md-2 containerofcard">
      <img src="../../assets/img/headPhonee1.png" class="imgCard" alt="" />
      <div class="contant-card">
        <p>Skullcandy - Crusher anc 2 wireless headphones</p>
        <p>★★★★★</p>
        <p>$299.99</p>
      </div>
      <button class="btn bg-light Newbtn">new</button>
    </div>
    <div class="col-md-2 containerofcard">
      <img src="../../assets/img/headPhonee1.png" class="imgCard" alt="" />
      <div class="contant-card">
        <p>Skullcandy - Crusher anc 2 wireless headphones</p>
        <p>★★★★★</p>
        <p>$299.99</p>
      </div>
      <button class="btn bg-light Newbtn">new</button>
    </div>
    <div class="col-md-2 containerofcard">
      <img src="../../assets/img/headPhonee1.png" class="imgCard" alt="" />
      <div class="contant-card">
        <p>Skullcandy - Crusher anc 2 wireless headphones</p>
        <p>★★★★★</p>
        <p>$299.99</p>
      </div>
      <button class="btn bg-light Newbtn">new</button>
    </div>
    <div class="col-md-2 containerofcard">
      <img src="../../assets/img/headPhonee1.png" class="imgCard" alt="" />
      <div class="contant-card">
        <p>Skullcandy - Crusher anc 2 wireless headphones</p>
        <p>★★★★★</p>
        <p>$299.99</p>
      </div>
      <button class="btn bg-light Newbtn">new</button>
    </div>
    <div class="col-md-2 containerofcard">
      <img src="../../assets/img/headPhonee1.png" class="imgCard" alt="" />
      <div class="contant-card">
        <p>Skullcandy - Crusher anc 2 wireless headphones</p>
        <p>★★★★★</p>
        <p>$299.99</p>
      </div>
      <button class="btn bg-light Newbtn">new</button>
    </div>
  </div>
</div>
<section class="beforefooter">
  <div class="row m-0">
    <div class="col-md-3">
      <div class="containerServies bg-light m-5 p-4">
        <i class="fa-solid fa-truck-fast fs-1"></i>
        <h4 class="pt-2">Free Shipping</h4>
        <p>Order above $200</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="containerServies bg-light m-5 p-4">
        <i class="fa-solid fa-money-bill fs-1"></i>
        <h4 class="pt-2">Money Back</h4>
        <p>30 days guarantee</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="containerServies bg-light m-5 p-4">
        <i class="fa-solid fa-lock fs1"></i>
        <h4 class="pt-2">Secure Payment</h4>
        <p>Secured by Stripe</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="containerServies bg-light m-5 p-4">
        <i class="fa-solid fa-phone fs-1"></i>
        <h4 class="pt-2">24/7 Support</h4>
        <p>Phone and Email support</p>
      </div>
    </div>
  </div>
</section>
<div class="footer bg-black p-2" style="color: aliceblue">
  <nav style="display: flex; justify-content: space-between">
    <p class="fs-2 p-4">
      3legant.
      <span
        style="
          padding-left: 10px;
          border-left: 2px solid rgb(98, 96, 96);
          font-size: 16px;
        "
        >HeadPhone Store</span
      >
    </p>

    <ul
      class="m-2 p-4"
      style="
        justify-content: space-between;
        align-items: center;
        display: flex;
        list-style-type: none;
      "
    >
      <li>Home</li>
      <li>Shop</li>
      <li>Product</li>
      <li>Blog</li>
      <li>Contact Us</li>
    </ul>
  </nav>
  <hr />
  <div class="ffootteerr d-flex justify-content-between">
    <div class="contentFootteerr d-flex">
      <p style="padding-right: 50px;">Copyright © 2023 3legant. All rights reserved</p>
      <span style="padding-right: 20px;">Privacy Policy </span>
      <span style="padding-right: 10px;">Terms of Use</span>
    </div>

    <div class="icons">
      <i class="fa-brands fa-instagram fs-3 m-1"></i>
      <i class="fa-brands fa-facebook fs-3 m-1"></i>
      <i class="fa-brands fa-youtube fs-3 m-1"></i>
    </div>
  </div>
</div>
